# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Env / secrets
.env
.env.*
!.env.example

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# Checkov
.checkov.yaml.bak

# OS / editor
.DS_Store
.vscode/
.idea/
